/* ********************* */

body {
  --sb-track-color: #2b394e;
  --sb-thumb-color: #a3a2ff;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #7164e5;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
/* ********************** */

.navbar {
  background-color: #2b394e;
}
.navbar-brand {
  color: white;
}
.nav-link:focus,
.nav-link:hover {
  color: rgb(72, 69, 210);
}
.nav-link:focus,
.nav-link {
  color: rgb(163, 162, 255);
}

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  border: none;
  background-color: #ffffff00;
  color: rgb(72, 69, 210);
}
#myIn {
  text-align: center;
  outline-style: none;
  height: 45px;
  width: 100px;
}
#sectionOne {
  background-color: #19283feb;
  height: calc(100vh - 56px);
}
#Buto {
  height: 40px;
  color: white;
  font-weight: 600;
  border-color: transparent;
}

.btn-danger {
  background-color: #e05e13dc;
}
.btn:hover {
  border: #19283f;
  background-color: #19283f54;
}
/* .landig{
  height: 100vh;
} */
.line {
  width: 120px;
  height: 2px;
  background-color: rgb(163, 162, 255);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 110%;
}
.text-body-tertiary {
  font-weight: 600;
}

.number {
  font-family: "Nunito", sans-serif;

  font-size: 192px;
  color: #19283f29;
  font-weight: 800;
}
.pen {
  top: 37%;
  left: 43%;
}
.backimg {
  position: relative;
}

.backimg::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background-color: rgb(72, 69, 210);
  opacity: 0.9;
  transition: all 200ms linear 0s;
}

.backimg:hover::before {
  width: 100%;
  content: "Aplication";
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgb(215, 214, 255);
  background-color: rgb(72, 69, 210);
  border-radius: 43%;
}
.logaban {
  left: 36%;
  top: 42%;
}
.card-title {
  background-color: #33d1cc;
}
.blog {
  padding: 0%;
  text-align: center;
}

.Luke {
  filter: grayscale(100%) blur(1px);
}
.card:hover .Luke {
  filter: grayscale(0%) blur(0px);
  transition: all ease 180ms;
}
.form-control {
  background-color: transparent;
  border-radius: 0%;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}
.form-control:focus {
  background-color: transparent;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0;
  color: white;
}
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  color: white;
  position: absolute;
  inset: 1rem 0.375rem;
  z-index: -1;
  height: 1.5em;
  content: "";
  background-color: transparent;
}
/* .img-thumbnail:hover{
  filter: blur(5px);
} */

/* .co{
background-color: red;
} */
